#firstpagelist{
    list-style: none;
    font-size: 150%;    
}

#firstpagelist a {
    color:rgb(28, 63, 160);
}

#firstpagelist a:link {
    text-decoration: none;
}

#firstpagelist a:hover {
    color: rgb(46, 193, 230);
}

#borderfirstpage {
    border: solid rgb(12, 6, 7);
    list-style: none;
    margin: auto;
    width: 90%;
    height: 545px;
    direction: ltr;
    overflow: auto;
    border-radius: 1%;
}

#borderfirstpage li:hover {
    background-color: rgb(46, 193, 230);
    cursor: pointer;
}

#borderfirstpage li:active {
    background-color: rgb(32, 127, 151);
    cursor: pointer;
}

#borderfirstpage li {
    background: #cce5ff;
    margin: 1%;
    padding: 1%;
    list-style: none;
    border-radius: 10px;
}

#borderfirstpage li a {
    text-decoration: none;
    font-size: larger;
    color: #000;
}


/*picture*/

#wrap_first_page{
    background-color:  rgb(193, 230, 230);
    float: left;
    width: 83%;
    margin-left: 8.4%;
    border: solid rgb(12, 6, 7);
     height: 75vh;
     overflow: auto;
     border-radius: 1%;
     margin-top: 3%;
}

#border_first {    
    width: 70%;
    height: 70.5vh;
    overflow: auto;
    border-radius: 50px;
    margin-left: 16%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    padding: 1%;
    padding-top: 3%;
    border: solid rgb(12, 6, 7);
    border-width: 2px;
    background-color: rgb(203, 240, 255);
}

#border_first #image{
    width: 100%;
    height: 60vh;
    border-radius: 50px;
    padding-left: .5%;
}