#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 99, 99);
  }
  
#navbar li {
    float: left;
}
  
#navbar  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#navbar li a:hover:not(.active) {
    background-color: rgb(23, 122, 122);
}

/* wrap1 */
#wrap1{
    float: left;
    width: 68%;
    margin-left: 3%;
    border: solid rgb(12, 6, 7);
     height: 80vh;
     overflow: auto;
     border-radius: 1%;
     margin-top: 3%;
     background-color:  rgb(193, 230, 230);
}

#border_update {    
    width: 70%;
    height: 70vh;
    overflow: auto;
    border-radius: 50px;
    margin-left: 14%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    padding: 1%;
    padding-top: 3%;
    border: solid rgb(12, 6, 7);
    border-width: 2px;
    background-color: rgb(203, 240, 255);
}

#border_update #image{
    width: 99%;
    height: 67vh;
    border-radius: 50px;
    padding-left: .5%;
}
/* wrap2 */
#wrap2{
  background-color:  rgb(193, 230, 230);
    float: right;
    width: 90%;
    margin-right: 5%;
    margin-top: 5%;
    height: 25vh;
    overflow: auto;
}

#wrap2 .line hr {
    height: 1px;
    border: 0;
    background: black;
  }

  
  #wrap2 select {
  width: 80%;
  height: 6vh;
  margin-right: 2%;
  margin-top: 4%;
  border: solid rgb(12, 6, 7);
  border-radius: 30px;
  border-width: 1px;
  background-color: rgb(44, 196, 196);
  text-align: center;
  text-align-last: center;
}

#wrap2 select option {
  background-color: rgb(201, 209, 224);
}
/* button */
.button-search {
    width: 90%;
    height: 5vh;
    border: solid rgb(12, 6, 7);
    border-radius: 30px;
    background-color: rgb(20, 88, 88);
    border-width: thin;
    margin-top: 5%;
    margin-left: 5%;
}

.button-search:hover {
    background-color: rgb(23, 122, 122);
    color: aliceblue;
}

#sectionSubmit-search {
  background-color:  rgb(193, 230, 230);
    border:none;
    width: 95%;
    margin: auto;
    margin-top: 1%;
    margin-right: 2%;
    padding: .1%;
    border-radius: 26px;
    border-width: 2px;
}

/* The container */
.container {
    
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(187, 216, 235);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(101, 133, 236);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(16, 122, 172);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* wrap3 */
#wrap3{
    float: right;
    width: 25%;
    border: solid rgb(12, 6, 7);
    margin-right: .5%;
    height: 40vh;
    overflow: auto;
    border-radius: 1%;
    margin-top: 6.5%;
    border-width: 2px;
    background-color:  rgb(193, 230, 230);
}


 /* wrap4 */
 #wrap4{
  background-color:  rgb(193, 230, 230);
  float: right;
  width: 25%;
  border: solid rgb(12, 6, 7);
  margin-right: .5%;
  height: 20vh;
  overflow: auto;
  border-radius: 1%;
  margin-top: 3.1%;
  border-width: 2px;
}


/* wrap5 */
#wrap5{
  background-color:  rgb(193, 230, 230);
  float: right;
  width: 90%;
  margin-right: 5%;
  margin-top: 3%;
  height: 8vh;
  overflow: auto;
}

#wrap5 .line hr {
  height: 1px;
  border: 0;
  background: black;
}


#wrap5 select {
width: 80%;
height: 6vh;
margin-right: 2%;
margin-top: 4%;
border: solid rgb(12, 6, 7);
border-radius: 30px;
border-width: 1px;
background-color: rgb(44, 196, 196);
text-align: center;
text-align-last: center;
}

#wrap5 select option {
background-color: rgb(201, 209, 224);
}
